

<div ng-controller="loginCtrl">
<div class="container" style="padding-top: 20%">
            <!--mai login card started-->
            <div class="z-depth-1 grey lighten-4 row col s8" style="display: inline-block; padding: 32px 48px 0px 48px; border: 1px solid #EEE">
            <h5 class="indigo-text">Writer</h5>     
    		<form name="form" class="col s12" action="/" role="form">

    			<div class='row'>					
                    <div class='col s10'>
                    </div>
                 </div>
                 <div class="form-group">
    			<div class="row">
    				<div class="input-field col s10">
    				<input class="form-control" name="email" id="email" type="email" ng-model="email" required>
    				<label for='email'>Enter your email</label>
    				
    				</div>
    			</div><!--end row-->
    			</div> <!--form group ended-->

    			<div class="form-group">
    				<div class="row">
    				<div class="input-field col s10">
    				<input class="form-control" name="emai" id="email" type="password" ng-model="password" required>
    				<label for='email'>Enter Password</label>
    				
    				</div>
    			</div><!--end row-->
    			</div><!--form group ended-->


    			<div class="form-action">
    			<button type="submit"  class="btn waves-effect waves-light" ng-click="submit()">Login <i class="material-icons right">send</i></button>
    			</div>
    			
    			</form>


</div>
</div>



</div>




